@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  height: 100%;
  font-size: $base-font-size;
  color: $white;
}

body { height: 100%; font-family: 'etelkamonospace', monospace; overflow-x: hidden;}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; cursor: pointer; transition: all .3s; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  background-color: #252627;
}



//Модули
@import "modules/modules";
