.navbar
	.burger
		span
		span
		span

	nav.main-nav
		ul
			li
				a(href="index.html")
					i.fal.fa-home
			li
				a(href="index.html")
					i.fal.fa-user
			li
				a(href="index.html")
					i.fal.fa-cogs
			li
				a(href="index.html")
					i.fal.fa-briefcase
			li
				a(href="index.html")
					i.fal.fa-envelope

	.contacts-list
		ul
			li
				a(href="")
					i.fab.fa-github
			li
				a(href="")
					i.fab.fa-linkedin-in
			li
				a(href="")
					i.fab.fa-skype
