.navbar
	nav.main-nav
		ul
			li
				a(href="")
					i.fal.fa-home
			li
				a(href="")
					i.fal.fa-user
			li
				a(href="")
					i.fal.fa-cogs
			li
				a(href="")
					i.fal.fa-briefcase
			li
				a(href="")
					i.fal.fa-envelope

	.contacts-list
		ul
			li
				a(href="")
					i.fas.fa-mobile-alt
			li
				a(href="")
					i.fab.fa-telegram-plane
			li
				a(href="")
					i.fab.fa-whatsapp
			li
				a(href="")
					i.fab.fa-skype
