.home {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  padding: 40px 0 0 40px;
}
.tags {
  position: absolute;
}
.tags-top {
	top: 50px;
	left: 50px;
}
.tags-bottom {
	bottom: 50px;
	left: 50px;
}
.tags-center {
	display: none;
}
.tag {
  display: block;
  font-family: 'labelleaurore', cursive;
  color: #515152;
  font-size: 18px;
}
.tag_two {
  padding: 0 0 0 30px;
}
.content {
	position: relative;
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.8s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
