.home
	.tags.tags-top
		span.tag.tag_one &lt;html&gt;
		span.tag.tag_two &lt;body&gt;
	
	.content
		.tags.tags-center
			span.tag.tag_title &lt;h1&gt;

		#typed-strings
			p Lorem 111
			p Lorem 211
			p Lorem 311
		h1.title Hi, <br>i'm Lily
		h2 Blabla	
			span.element
			

	.tags.tags-bottom
		span.tag.tag_two &lt;body&gt;
		span.tag.tag_one &lt;html&gt;
