.home
	.tags.tags-top
		span.tag.tag_one &lt;html&gt;
		span.tag.tag_two &lt;body&gt;
	
	.content
		.tags.tags-center
			span.tag.tag_title &lt;h1&gt;
		h1.title.text-typing Hi, my name is Lily


	.tags.tags-bottom
		span.tag.tag_two &lt;body&gt;
		span.tag.tag_one &lt;html&gt;
